
/* 
    Created on : 20-Aug-2014, 23:14:52
    Author     : Michael Kroll
*/

html, body{
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;

    background-color: #f1EFE2;
    background-image: url(img/noise.png);
    overflow: hidden;
}

#canvas{
    background:#FFF;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    border-radius: 3px;
    padding:0px;
    overflow:hidden;
    box-shadow: 0 0 15px #bbbbbb;
}

#toolbar{
    position: absolute;
    box-shadow: 0 0 15px #b0b0b0;
    border-radius: 3px;
    overflow:hidden;
    background:#e0e0e0;
}


@media (orientation:landscape) and (max-width: 1024px), (min-aspect-ratio: 2/1){
    #canvas{
        position: absolute;
        top: 50%;
        margin-left: 2vw;

        margin-top: -43.125vh;
        width: 115vh;
        height: 86.25vh;
    }
    
    #toolbar{
        right: 0;
        top: 50%;
        
        margin-top: -45vh;
        
        height: 90vh;
        width: 25%;
        
        border-right: none;
        
        border-radius: 3px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (orientation:portrait){
    #canvas{
        position: relative;
        top: initial;

        margin-top: 5vw;
        margin-left: auto;
        margin-right: auto;

        width: 90vw;
        height: 67.5vw;
    }
    
    #toolbar{
        bottom: 0;
        top: 75%;
        left: calc(-45vw - 5px);
        right: inherit;
        
        margin-top: 0;
        margin-left: 50%;
        
        width: 90vw;
        
        border-radius: 3px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
    }
}

@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 29/18), (min-width: 1024px) and (max-aspect-ratio: 2/1){
    #canvas{
        position: relative;
        top: initial;

        margin-top: 2vw;
        margin-left: auto;
        margin-right: auto;

        width: 44vw;
        height: 33vw;
    }
    
    #toolbar{
        bottom: 0;
        top: 75%;
        left: -22vw;
        right: inherit;
        
        margin-top: 0;
        margin-left: 50%;
        
        width: 44vw;
        
        border-radius: 3px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        
    }
}
