/* 
    Created on : 13-Aug-2014, 22:36:29
    Author     : Michael Kroll
*/

html, body{
    background-color: #555555;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.wait-text{
    position: absolute;
    top: 50%;
    margin-top: -80px;
    
    color: #ffffff;
    font-family: 'Permanent Marker';
    width: 98%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    font-size: 80px;
    line-height: 80px; 
    display: inline-block;
    
}
